html { margin-top: 0px !important; background-color: #b2b2b2; }
body { font-family: "Raleway", sans-serif; max-width: 1280px; margin: auto; }
h1, h2, h3, h4, h5, h6 { color: #6891C7; font-family: "Raleway", sans-serif; }
.site { border-left: 1px solid black; border-right: 1px solid black; }
.site-header { height: 600px; }
.navbar { margin-top: 280px; background: #688FC5; border-top: 1px solid black; border-bottom: 1px solid black; }
.nav-menu li a { color: white; }
.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a { color: #ccc; font-style: normal; }
ul.nav-menu ul a:hover, .nav-menu ul ul a:hover, ul.nav-menu ul a:focus, .nav-menu ul ul a:focus { background-color: #6892C7; }
