html { margin-top: 0px !important; background-color: #b2b2b2; }
body { font-family: "Raleway", sans-serif; max-width: 1280px; margin: auto; }
h1, h2, h3, h4, h5, h6 { font-family: "Raleway", sans-serif; }
h1 { color: #6891C7; }
.site { border: 1px solid black; }
.navbar { background: #688FC5; border-top: 1px solid black; border-bottom: 1px solid black; }
.nav-menu li a { color: white; }
.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a { color: #ccc; font-style: normal; }
ul.nav-menu ul a:hover, .nav-menu ul ul a:hover, ul.nav-menu ul a:focus, .nav-menu ul ul a:focus { background-color: #6892C7; }
.entry-header, .entry-content, .entry-meta { max-width: 960px; padding-right: 40px; padding-left: 40px; }
.entry-title a, .entry-title a:visited, .entry-title a:hover { color: #6991C5; text-decoration: none; } 
a, a:visited, a:hover, .entry-meta a, .entry-meta a:visited, .entry-meta a:hover { color: #6991C5; }
.entry-content a, .entry-content a:visited, .entry-content a:hover { color: #6991C5; }
.comment-respond { background-color: #dedede; }
button, input, textarea { border: 2px solid #6991C5; }
button, input[type="submit"], input[type="button"], input[type="reset"] { background: #6892C7; border-bottom: none; }
button:hover, button:focus, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus { background: black; }
.site-footer { background-color: #6991C5; }
.site-footer a { color: white; }
.site-footer .widget a { color: #6991C5; }
table { border: none; background-color: white; }
table .sponsorlist { font-size: 0.8em; border-bottom: none; }
.sponsorlist th { text-align: right; padding-right: 10px; text-transform: capitalize; }
.sponsorlist .header-row th { text-align: center; border-bottom: 1px solid #666; }
.sponsorlist .header-row th:first-child { border-bottom: none; }
.sponsorlist td {text-align: center;  border-bottom: 1px solid #666; border-left: 1px solid #666; }
.sponsorship { background-color: #eee; }
.sponsorlist td:last-child { border-right: 1px solid #666; }
.wcorg-sponsor .wcorg-sponsor-description img { margin-bottom: 1rem; }
.tix_tickets_table { border: 1px solid #666; }
.tix_tickets_table th { background: #eee; padding-left: 10px; }
.tix_tickets_table td { padding-left: 10px; border-top: 1px solid #666; }
.tix-column-price, .tix-column-remaining, .tix-column-quantity { text-align: center; }
.tix-column-description {width: 50%; }
.policy h3 { font-size: 0.9em; }
.policy { font-size: 0.8em; background: #eee; padding: 2px 12px; color: #888; width: 84%; margin: auto; }
.contact-form {padding: 20px; background: #eee; }
.wcpt-session-speakers { font-style: italic; }
.wcpt-session-speakers:before { content:'- '; }
.wcorg-speaker-description img { margin-bottom: 1rem; margin-top: 0; }
@media screen and (max-width: 600px) { .tix-attendee-list li { display: block; clear: both; height: auto !important; width: 100% !important; } }
